{% extends "catalog/base-catalog.html" %}
{% load static %}

{% block title %} {{ car.name }} {% endblock %}
{% block main %}
<h1 class="h1">Оформить заказ</h1>
    <img class="car-img" src="{{ car.img.url }}">
{% if user.is_authenticated %}    
<form name="addorder" method="POST" class="orderform">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form.as_p }}
    <p>
    <button class="submit orderbutton" type="submit">Оформить</button>
    </p>
  </form>    
{% else %}

  <h2>Требуется аутентификация</h2>
<p>

<a href="{% url "myauth:login" %}">Войти</a>


<a href="{% url "myauth:registration" %}">Зарегистрироваться
  </a>
  </p>
                            
{% endif %}
{% endblock %}
