{% extends "catalog/base-catalog.html" %}
{% load static %}

{% block title %} {{ car.name }} {% endblock %}
{% block main %}
<h1 class="h1">
    Заказ оформлен
    </h1>
    <div class="card">
        <table class="table">
            <tr>
        <td>Номер заказа: </td>
        <td>{{ order.pk }}
            </td>
        </tr>
        <tr>
            <td>
                Заказчик: 
            </td>
            <td>
                {{ order.user }} 
                {{ order.surname }}
            </td>
        </tr>
        <tr>
            <td>
                Телефон: 
            </td>
            <td>
                {{ order.phone }}
            </td>
        </tr>
        <tr>
        <td>Адрес:</td>
        <td>{{ order.delivery_address }}</td>
        </tr>
        <tr>
            <td>
                Автомобиль:
            </td>
            <td>{{ order.car.name }}</td>
        </tr>
        <tr>
        <td>Детское кресло: </td>
        {% if order.babyseat %}
        <td>да</td>
        {% else %}
        <td>Нет</td>
        {% endif %}
        </tr>
        </table>
    </div>


{% endblock %}
